// SPDX-License-Identifier: GPL-2.0-only
#include <windows.h>
#include "project_version.h"

1 VERSIONINFO
FILEVERSION PROJECT_MAJOR_VERSION,PROJECT_MINOR_VERSION,PROJECT_PATCH_VERSION
PRODUCTVERSION PROJECT_MAJOR_VERSION,PROJECT_MINOR_VERSION,PROJECT_PATCH_VERSION
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", APPLICATION_NAME
      VALUE "FileVersion",     TO_STR(PROJECT_MAJOR_VERSION) "." TO_STR(PROJECT_MINOR_VERSION) "." TO_STR(PROJECT_PATCH_VERSION) ".0"
      VALUE "InternalName",    APPLICATION_NAME
      VALUE "ProductName",     APPLICATION_NAME
      VALUE "ProductVersion",  TO_STR(PROJECT_MAJOR_VERSION) "." TO_STR(PROJECT_MINOR_VERSION) "." TO_STR(PROJECT_PATCH_VERSION) ".0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END